<%- include('header')%>
<h2 style="font-style: italic;">Upload an image here to remove background!</h2>
<form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="filename"><br>
    <input type="submit" value="Upload">
</form>
<%- include('footer')%>
